@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-lime-*: initial;
  --color-fuchsia-*: initial; 
}

@layer components {
  .label {
    display: inline-block;
    background-color: var(--color-primary);
    color: var(--color-background);
    font-size: var(--text-sm);
    padding: var(--spacing-1) var(--spacing-2);
    border-radius: var(--rounded-md);
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  .custom-container {
    @apply
      w-full
      max-w-full
      sm:max-w-screen-sm
      md:max-w-screen-md
      lg:max-w-screen-lg
      xl:max-w-screen-xl
      2xl:max-w-screen-2xl
      mx-auto;
  }
}